<p id="notice"><%= notice %></p>

<p>
  <strong>Bid:</strong>
  <%= @booking.bid %>
</p>

<p>
  <strong>Startdate:</strong>
  <%= @booking.startdate %>
</p>

<p>
  <strong>Enddate:</strong>
  <%= @booking.enddate %>
</p>

<%= link_to 'Edit', edit_booking_path(@booking) %> |
<%= link_to 'Back', bookings_path %>
