<h1>Listing hotels</h1>

<table>
  <thead>
    <tr>
      <th>Name</th>
      <th>Stars</th>
      <th>City</th>
      <th>Country</th>
      <th>Address</th>
      <th>Phone</th>
      <th>Descrpition</th>
      <th></th>
      <th></th>
      <th></th>
    </tr>
  </thead>

  <tbody>
    <% @hotels.each do |hotel| %>
      <tr>
        <td><%= hotel.name %></td>
        <td><%= hotel.stars %></td>
        <td><%= hotel.city %></td>
        <td><%= hotel.country %></td>
        <td><%= hotel.address %></td>
        <td><%= hotel.phone %></td>
        <td><%= hotel.descrpition %></td>
        <td><%= link_to 'Show', hotel %></td>
        <td><%= link_to 'Edit', edit_hotel_path(hotel) %></td>
        <td><%= link_to 'Destroy', hotel, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'New Hotel', new_hotel_path %>
